<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>

<body>
  <div class="container">

    <form #searchForm="ngForm" (ngSubmit)="getWeatherUpdate(searchForm.value)" class="box1">
      <input type="text" name="city_name" ngModel placeholder="search city">
      <button class="submit-btn" type="submit">Submit</button>
    </form>
    <div class="box2">
      <app-weather [weather_obj]=res_arr></app-weather>
    </div>

  </div>
</body>

</html>